In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

/home/josoga2/anaconda3/lib/python3.7/site-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [2]:
train = pd.read_csv('train.csv', index_col='Id')
test = pd.read_csv('test.csv', index_col='Id')

In [3]:
train.head()

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
Id,,,,,,,,,,,,,,,,,,,,,
1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,FR2,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,Corner,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,FR2,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [7]:
train['MSZoning'].sample(10)

Id
548     RL
956     RH
392     RL
71      RL
955     RL
616     RL
69      RM
908     RL
1296    RL
1185    RL
Name: MSZoning, dtype: object

In [4]:
test.head()

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
Id,,,,,,,,,,,,,,,,,,,,,
1461,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,AllPub,Inside,...,120,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal
1462,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,AllPub,Corner,...,0,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal
1463,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,AllPub,Inside,...,0,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal
1464,60,RL,78.0,9978,Pave,NaN,IR1,Lvl,AllPub,Inside,...,0,0,NaN,NaN,NaN,0,6,2010,WD,Normal
1465,120,RL,43.0,5005,Pave,NaN,IR1,HLS,AllPub,Inside,...,144,0,NaN,NaN,NaN,0,1,2010,WD,Normal

In [5]:
train.shape

(1460, 80)

In [6]:
test.shape

(1459, 79)

In [80]:
y_train = train['SalePrice']

In [81]:
train = train.drop('SalePrice', axis = 1)

In [82]:
df = pd.concat([train, test])

In [83]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2919 entries, 1 to 2919
Data columns (total 79 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   MSSubClass     2919 non-null   int64
 1   MSZoning       2915 non-null   object
 2   LotFrontage    2433 non-null   float64
 3   LotArea        2919 non-null   int64
 4   Street         2919 non-null   object
 5   Alley          198 non-null    object
 6   LotShape       2919 non-null   object
 7   LandContour    2919 non-null   object
 8   Utilities      2917 non-null   object
 9   LotConfig      2919 non-null   object
 10  LandSlope      2919 non-null   object
 11  Neighborhood   2919 non-null   object
 12  Condition1     2919 non-null   object
 13  Condition2     2919 non-null   object
 14  BldgType       2919 non-null   object
 15  HouseStyle     2919 non-null   object
 16  OverallQual    2919 non-null   int64
 17  OverallCond    2919 non-null   int64
 18  YearBuilt      2919 non-null   int64
 19  YearRemodAdd   2919 non-null   int64
 20  RoofStyle      2919 non-null   object
 21  RoofMatl       2919 non-null   object
 22  Exterior1st    2918 non-null   object
 23  Exterior2nd    2918 non-null   object
 24  MasVnrType     2895 non-null   object
 25  MasVnrArea     2896 non-null   float64
 26  ExterQual      2919 non-null   object
 27  ExterCond      2919 non-null   object
 28  Foundation     2919 non-null   object
 29  BsmtQual       2838 non-null   object
 30  BsmtCond       2837 non-null   object
 31  BsmtExposure   2837 non-null   object
 32  BsmtFinType1   2840 non-null   object
 33  BsmtFinSF1     2918 non-null   float64
 34  BsmtFinType2   2839 non-null   object
 35  BsmtFinSF2     2918 non-null   float64
 36  BsmtUnfSF      2918 non-null   float64
 37  TotalBsmtSF    2918 non-null   float64
 38  Heating        2919 non-null   object
 39  HeatingQC      2919 non-null   object
 40  CentralAir     2919 non-null   object
 41  Electrical     2918 non-null   object
 42  1stFlrSF       2919 non-null   int64
 43  2ndFlrSF       2919 non-null   int64
 44  LowQualFinSF   2919 non-null   int64
 45  GrLivArea      2919 non-null   int64
 46  BsmtFullBath   2917 non-null   float64
 47  BsmtHalfBath   2917 non-null   float64
 48  FullBath       2919 non-null   int64
 49  HalfBath       2919 non-null   int64
 50  BedroomAbvGr   2919 non-null   int64
 51  KitchenAbvGr   2919 non-null   int64
 52  KitchenQual    2918 non-null   object
 53  TotRmsAbvGrd   2919 non-null   int64
 54  Functional     2917 non-null   object
 55  Fireplaces     2919 non-null   int64
 56  FireplaceQu    1499 non-null   object
 57  GarageType     2762 non-null   object
 58  GarageYrBlt    2760 non-null   float64
 59  GarageFinish   2760 non-null   object
 60  GarageCars     2918 non-null   float64
 61  GarageArea     2918 non-null   float64
 62  GarageQual     2760 non-null   object
 63  GarageCond     2760 non-null   object
 64  PavedDrive     2919 non-null   object
 65  WoodDeckSF     2919 non-null   int64
 66  OpenPorchSF    2919 non-null   int64
 67  EnclosedPorch  2919 non-null   int64
 68  3SsnPorch      2919 non-null   int64
 69  ScreenPorch    2919 non-null   int64
 70  PoolArea       2919 non-null   int64
 71  PoolQC         10 non-null     object
 72  Fence          571 non-null    object
 73  MiscFeature    105 non-null    object
 74  MiscVal        2919 non-null   int64
 75  MoSold         2919 non-null   int64
 76  YrSold         2919 non-null   int64
 77  SaleType       2918 non-null   object
 78  SaleCondition  2919 non-null   object
dtypes: float64(11), int64(25), object(43)
memory usage: 1.8+ MB

In [84]:
df = df.dropna(axis=1)

In [85]:
def fix_non_numbers(df):
    columns = df.columns.values
    for column in columns:
        text_digit_vals = {}
        def convert_to_int(val):
            return text_digit_vals[val]

        if df[column].dtype != np.int64 and df[column].dtype != np.float64:
            column_contents = df[column].values.tolist()
            unique_elements = set(column_contents)
            x = 1
            for unique in unique_elements:
                if unique not in text_digit_vals:
                    text_digit_vals[unique] = x
                    x+=1

            df[column] = list(map(convert_to_int, df[column]))

    return df

In [86]:
df_tent = fix_non_numbers(df)

In [87]:
df_tent.head()

,MSSubClass,LotArea,Street,LotShape,LandContour,LotConfig,LandSlope,Neighborhood,Condition1,Condition2,...,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SaleCondition
Id,,,,,,,,,,,,,,,,,,,,,
1,60,8450,2,2,4,2,2,20,4,3,...,0,61,0,0,0,0,0,2,2008,6
2,20,9600,2,2,4,1,2,10,9,3,...,298,0,0,0,0,0,0,5,2007,6
3,60,11250,2,1,4,2,2,20,4,3,...,0,42,0,0,0,0,0,9,2008,6
4,70,9550,2,1,4,3,2,18,4,3,...,0,35,272,0,0,0,0,2,2006,1
5,60,14260,2,1,4,1,2,12,4,3,...,192,84,0,0,0,0,0,12,2008,6

In [88]:
print(train.shape)
print(test.shape)
print(df_tent.shape)

(1460, 79)
(1459, 79)
(2919, 45)

In [89]:
df_tent.columns

Index(['MSSubClass', 'LotArea', 'Street', 'LotShape', 'LandContour',
       'LotConfig', 'LandSlope', 'Neighborhood', 'Condition1', 'Condition2',
       'BldgType', 'HouseStyle', 'OverallQual', 'OverallCond', 'YearBuilt',
       'YearRemodAdd', 'RoofStyle', 'RoofMatl', 'ExterQual', 'ExterCond',
       'Foundation', 'Heating', 'HeatingQC', 'CentralAir', '1stFlrSF',
       '2ndFlrSF', 'LowQualFinSF', 'GrLivArea', 'FullBath', 'HalfBath',
       'BedroomAbvGr', 'KitchenAbvGr', 'TotRmsAbvGrd', 'Fireplaces',
       'PavedDrive', 'WoodDeckSF', 'OpenPorchSF', 'EnclosedPorch', '3SsnPorch',
       'ScreenPorch', 'PoolArea', 'MiscVal', 'MoSold', 'YrSold',
       'SaleCondition'],
      dtype='object')

In [90]:
df_train = df_tent.iloc[0:1460,:]
df_test = df_tent.iloc[1460: 2919, :]

In [91]:
print(df_train.shape)
print(df_test.shape)

(1460, 45)
(1459, 45)

In [92]:
!pip install dataframe-column-identifier==0.0.5

Requirement already satisfied: dataframe-column-identifier==0.0.5 in /home/josoga2/anaconda3/lib/python3.7/site-packages (0.0.5)
Requirement already satisfied: pandas in /home/josoga2/anaconda3/lib/python3.7/site-packages (from dataframe-column-identifier==0.0.5) (1.1.2)
Requirement already satisfied: numpy in /home/josoga2/anaconda3/lib/python3.7/site-packages (from dataframe-column-identifier==0.0.5) (1.19.2)
Requirement already satisfied: python-dateutil>=2.7.3 in /home/josoga2/anaconda3/lib/python3.7/site-packages (from pandas->dataframe-column-identifier==0.0.5) (2.8.0)
Requirement already satisfied: pytz>=2017.2 in /home/josoga2/anaconda3/lib/python3.7/site-packages (from pandas->dataframe-column-identifier==0.0.5) (2019.3)
Requirement already satisfied: six>=1.5 in /home/josoga2/anaconda3/lib/python3.7/site-packages (from python-dateutil>=2.7.3->pandas->dataframe-column-identifier==0.0.5) (1.12.0)
WARNING: You are using pip version 20.0.2; however, version 20.2.3 is available.
You should consider upgrading via the '/home/josoga2/anaconda3/bin/python -m pip install --upgrade pip' command.

In [93]:
from sklearn.feature_selection import SelectKBest, mutual_info_regression
from dataframe_column_identifier import DataFrameColumnIdentifier

In [117]:
dfci = DataFrameColumnIdentifier()
kbest = SelectKBest(score_func=mutual_info_regression, k=5)
kbest_selected_features = kbest.fit_transform(df_train, y_train)

In [118]:
print(dfci.select_columns_by_values(df_train, kbest_selected_features, n_validation_rows=100, verbose=1))

1 - Feature selected: OverallQual
2 - Feature selected: YearBuilt
3 - Feature selected: ExterQual
4 - Feature selected: GrLivArea
5 - Feature selected: FullBath
['OverallQual', 'YearBuilt', 'ExterQual', 'GrLivArea', 'FullBath']

In [119]:
df_train = dfci.transform(df_train)
df_test = dfci.transform(df_test)

In [120]:
df_train.head()

    OverallQual  YearBuilt  ExterQual  GrLivArea  FullBath
Id
1             7       2003          2       1710         2
2             6       1976          1       1262         2
3             7       2001          2       1786         2
4             7       1915          1       1717         1
5             8       2000          2       2198         2

In [121]:
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(df_train, y_train)

LinearRegression()

In [122]:
wrong_pred = regressor.predict(df_train)

In [123]:
y_pred = regressor.predict(df_test)

In [124]:
y_pred

array([109203.80777166, 156604.07265727, 164282.09579111, ...,
       129918.55654541, 128144.00379753, 228045.30558658])

In [125]:
a = pd.DataFrame(y_pred)
b = pd.concat([df_test.reset_index(),a], axis=1)

In [126]:
b.columns

Index(['Id', 'OverallQual', 'YearBuilt', 'ExterQual', 'GrLivArea', 'FullBath',
       0],
      dtype='object')

In [129]:
b.columns = ['Id', 'OverallQual', 'YearBuilt', 'ExterQual', 'GrLivArea', 'FullBath','SalePrice']

In [130]:
c = b[['Id','SalePrice']]

In [131]:
c.head()
print(c.shape)

(1459, 2)

In [132]:
c.to_csv('kagg.csv', index=None, header=True)

In [133]:
from sklearn.metrics import r2_score
r2_score(y_train, wrong_pred)

0.7558292198467893

In [ ]:
df_train.head()